
a{
	text-decoration: none;
}

#check{
	display: none;
}

#check-right{
	display: none;
}

#btn-menu{
	position: absolute;
	float: left;
	width: 1.5rem; 
	height: 1.5rem; 
	left: 0.313rem; 
	top: 0.188rem; 
}

#btn-mais{
	position: relative;
	float: right;
	width: 1.5rem; 
	height: 1.5rem; 
	right: 0.313rem; 
	top: 0.188rem; 
}
#btn-mais #image-mais{
	width: 1.5rem;
	height: 1.5rem;
}

#menu{
	position: absolute;
	width: 13.750rem;
	background-color: #505050;
	transform: translateX(-13.750rem);
	-webkit-transform: translateX(-13.750rem);
	-ms-transform: translateX(-13.750rem);
	-o-transform: translateX(-13.750rem);
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
}

.mrg{
	width: 100%;
	height: 1.875rem;
}

.btn, .btn-left{
	display: table;
	width: 100%;
	height: 2.313rem;
	background-color: #424242;
	border-bottom: 0.125rem solid #303030;
	color: #83878A;

}

.alinha-txt-btn, .alinha-txt-btn-left{
	display: table-cell;
	vertical-align: middle;
	padding-left: 0.625rem;
	font-size: 1rem;
	
}

.btn:hover, .btn-left:hover{
	background-color: #008BE6;
	color: #fefffd;
}

.btn:active, .btn-left:active{
	background-color: #008BE6;
	color: #fefffd;
}



.wrap{
	width: 100%;
	height: 4.063rem;
	border-bottom: 0.125rem solid #444; 
}

.dia{
	display: table;
	width: 30%;
	height: 100%;
	float: left;
	color: #fefffd;
	font-size: 2.500rem;
	font-weight: bold;
	text-align: right;
}

.txt-dia{
	display: table-cell;
	vertical-align: middle;
	
}

.txt-evento{
	display: table-cell;
	vertical-align: bottom;
}

.evento{
	display: table;
	width: 69%;
	height: 50%;
	float: right;
	color: #fefffd;
	font-size: 1rem;
	font-style: italic;
}

.dia-semana{
	width: 69%;
	height: 50%;
	float: right;
	color: #fefffd;
	font-size: 0.750rem;
}

#menu-right{
	position: absolute;
	right: 0;
	width: 13.750rem;
	height: 100%;
	transform: translateX(13.750rem);
	-webkit-transform: translateX(13.750rem);
	-ms-transform: translateX(13.750rem);
	-o-transform: translateX(13.750rem);
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
}


#check:checked ~ div#header div#icon #lbl #spn{
	background-color: transparent;
}

#check:checked ~ div#header div#icon #lbl #spn:before{
	transform: translate(0rem,-0.375rem) rotate(-45deg);
	-webkit-transform: translate(0rem,-0.375rem) rotate(-45deg);
	-ms-transform: translate(0rem,-0.375rem) rotate(-45deg);
	-o-transform: translate(0rem,-0.375rem) rotate(-45deg);
}

#check:checked ~ div#header div#icon #lbl #spn:after{
	transform: translate(0rem, 0.375rem) rotate(45deg);
	-webkit-transform: translate(0rem,0.375rem) rotate(45deg);
	-ms-transform: translate(0rem,0.375rem) rotate(45deg);
	-o-transform: translate(0rem,0.375rem) rotate(45deg);
}

#check:checked ~ div#menu{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}

#check-right:checked ~ div#header div#btn-right div#icon-right #lbl-right #spn-right{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

#check-right:checked ~ div#header div#btn-right div#icon-right #lbl-right #spn-right:before{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

#check-right:checked ~ div#header div#btn-right div#icon-right #lbl-right #spn-right:after{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

#check-right:checked ~ div#menu-right{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}