*{
	margin: 0;
	padding: 0;
}

body, html{
	font-family: Roboto;
	font-size: 100%;
	/*overflow-x: hidden;
	overflow-y: hidden;*/
	width: 100vw;
	height: 100vh;

}

a{
	text-decoration: none;
}

#container{
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #303030;
	box-sizing: border-box;
	overflow-x: hidden;

}

#header{
	position: absolute;
	width: 100%;
	height: 1.875rem; /*30px;*/
	background-color: #212121;
}

#check{
	display: none;
}

#check-right{
	display: none;
}

#btn-menu{
	position: absolute;
	float: left;
	width: 1.5rem; /*24px;*/
	height: 1.5rem; /*24px;*/
	left: 0.313rem; /*5px;*/
	top: 0.188rem; /*3px;*/
}

#nome-mes{
	position: absolute;
	width: 100%;
	height: 1.88rem; /*40px;*/
	float: left;
	text-align: center;
	display: table;
	font-size: 1rem;
}

.alinha-nome-mes{
	display: table-cell;
	vertical-align: middle;
	color: #FEFFFD;
}

#btn-mais{
	position: relative;
	float: right;
	width: 1.5rem; /*36px;*/
	height: 1.5rem; /*36px;*/
	right: 0.313rem; /*5px;*/
	top: 0.188rem; /*2px;*/
}
#btn-mais #image-mais{
	width: 1.5rem;
	height: 1.5rem;
}

#menu{
	position: absolute;
	width: 13.750rem; /*220px;*/
	/*height: 100%;*/
	background-color: #505050;
	transform: translateX(-13.750rem);
	transition: all .2s linear;
}

.mrg{
	width: 100%;
	height: 1.875rem;
}

.btn, .btn-left{
	display: table;
	width: 100%;
	height: 2.313rem; /*37px;*/
	background-color: #424242;
	border-bottom: 0.125rem solid #303030;
	color: #83878A;

}

.alinha-txt-btn, .alinha-txt-btn-left{
	display: table-cell;
	vertical-align: middle;
	padding-left: 0.625rem; /*10px;*/
	font-size: 1rem; /*16px*/
	
}

.btn:hover, .btn-left:hover{
	background-color: #008BE6;
	color: #fefffd;
}

.btn:active, .btn-left:active{
	background-color: #008BE6;
	color: #fefffd;
}

#content{
	width: 100%;
	height: 100%;
	background-color: #303030;
	position: absolute;
}

.wrap{
	width: 100%;
	height: 4.063rem;/*65px*/
	border-bottom: 0.125rem solid #444; 
}

.dia{
	display: table;
	width: 30%;
	height: 100%;
	float: left;
	color: #fefffd;
	font-size: 2.500rem;/*40px  - 2.813rem;*/ /*45px;*/
	font-weight: bold;
	text-align: right;
}

.txt-dia{
	display: table-cell;
	vertical-align: middle;
	
}

.txt-evento{
	display: table-cell;
	vertical-align: bottom;
}

.evento{
	display: table;
	width: 69%;
	height: 50%;
	float: right;
	color: #fefffd;
	font-size: 1rem;
	font-style: italic;
}

.dia-semana{
	width: 69%;
	height: 50%;
	float: right;
	color: #fefffd;
	font-size: 0.750rem; /*12px; --- 0.625rem; 10px;*/
}

#menu-right{
	position: absolute;
	right: 0;
	width: 13.750rem; /*220px;*/
	height: 100%;
	transform: translateX(13.750rem);
	transition: all .2s linear;
}

#header #icon{
    position: relative;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.187rem;
    margin-left: 0.312rem;

}

#icon #lbl{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #212121;
	transition: all .2s linear;
}

#spn{
	width: 1.125rem;
	height: 0.125rem;
	top:0.688rem;
	left:0.188rem;
	position: absolute;
	background-color: #fff;
	transition: all .2s linear;}

#spn:before{
	content: '';
 	width: 1.125rem;
	height: 0.125rem;
	bottom: -0.375rem;
	position: absolute;
	background-color: #fff;
	transition: all .2s linear;
}

#spn:after{
	content: '';
 	width: 1.125rem;
	height: 0.125rem;
	top: -0.375rem;
	position: absolute;
	background-color: #fff;
	transition: all .2s linear;
}
/*----------botão right---------*/
#btn-right{
	position: absolute;
	right: 0;
	width: 1.875rem;
	height: 1.875rem;
}

#header #icon-right{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.187rem;
    margin-right: 0.312rem;


}

#icon-right #lbl-right{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #212121;
	transition: all .2s linear;
	cursor: pointer;
}

#spn-right{
	width: 0.250rem;
	height: 0.250rem;
	top:0.688rem;
	left:0.625rem;
	position: absolute;
	background-color: #fff;
	transition: all .2s linear;}

#spn-right:before{
	content: '';
 	width: 0.250rem;
	height: 0.250rem;
	bottom: -0.375rem;
	position: absolute;
	background-color: #fff;
	transition: all .2s linear;
}

#spn-right:after{
	content: '';
 	width: 0.250rem;
	height: 0.250rem;
	top: -0.375rem;
	position: absolute;
	background-color: #fff;
	transition: all .2s linear;
}

#check:checked ~ div#header div#icon #lbl #spn{
	background-color: transparent;
}

#check:checked ~ div#header div#icon #lbl #spn:before{
	transform: translate(0rem,-0.375rem) rotate(-45deg);
}

#check:checked ~ div#header div#icon #lbl #spn:after{
	transform: translate(0rem, 0.375rem) rotate(45deg);
}

#check:checked ~ div#menu{
	transform: translateX(0);
}

#check-right:checked ~ div#header div#btn-right div#icon-right #lbl-right #spn-right{
	transform: rotate(-90deg);
	border-radius: 50%;
}

#check-right:checked ~ div#header div#btn-right div#icon-right #lbl-right #spn-right:before{
	border-radius: 50%;
}

#check-right:checked ~ div#header div#btn-right div#icon-right #lbl-right #spn-right:after{
	border-radius: 50%;
}

#check-right:checked ~ div#menu-right{
	transform: translateX(0);
}